<section class="card">
  <a href="/city/{{id}}">
    <header>For Rent / For Sale</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
      <p>Location: {{city_name}}</p>
    </div>
  </a>
</section>