<div class="home-navbar p-4">
  <ul class="add-margin">
    <li><a href="/">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#buy">Buy</a></li>
    <li><a href="#add-listing">Add Listing</a></li>
  </ul>
</div>

<div class="container-fluid">

  {{! <div class="col"></div> }}

  <div class="row">
    <div class="main-header p-5">
      <h2 class="hook">Browse Your Dreams</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam
        architecto officia quam sequi, provident eaque. Perferendis totam
        blanditiis dicta ullam, explicabo amet illum nihil. Provident expedita
        assumenda quod eveniet blanditiis.</p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-4 featured-items p-4 my-5 text-center">
      <h3>Featured Properties</h3>
    </div>
  </div>

  {{!-- 
  {{#each listings as |listing|}}
    <div class="row">
      <div class="col-3 properties">
        <div class="price"><h4>{{listing.price}}</h4></div>
      </div>
    </div>
  {{/each}} --}}

</div>

{{! The data is below for your views }}

{{! 
{
    id: 9,
    address_name: '666 Spruce Street',
    description: 'Quaint 3-bedroom cottage with updates. Renovated kitchen with granite countertops and stainless steel appliances. Cozy living room with wood-burning stove. Sunroom overlooking backyard. Detached studio perfect for office or guest space. Walking distance to shops and restaurants.',
    price: '420000',
    user_id: 3,
    imageUrl: null,
    location_id: 4,
    building_type: 3,
    listing_type: 2,
    createdAt: 2024-03-12T01:38:37.000Z,
    updatedAt: 2024-03-12T01:38:37.000Z,
    city: { city_name: 'Barrie' },
    buildingType: { building_type: 'Cottage' },
    listingType: { listing_type: 'For Rent' }
  } }}