body.login-page {
  background-color: #f6e9e9;
  opacity: 1;
  background-image: radial-gradient(#363333 1.05px, transparent 1.05px),
    radial-gradient(#363333 1.05px, #f6e9e9 1.05px);
  background-size: 42px 42px;
  background-position:
    0 0,
    21px 21px;
}

.login {
  background-color: #323a45; /* Change the color */
}

.form-label {
  font-weight: 800;
  color: #fff;
  font-size: 1.3rem;
}

.link {
  font-size: 0.85rem;
}
